body {
    margin: 0px;
    background-color: #2C2C2C;
    font-family: 'DM Sans';
    color: #fff;
    font-size: 1.3vw;
}

nav {
    background-color: #252525;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #8A8A8A;
    margin: 0 20px;
    font-size: 22px;
}

#CodeLabHor {
    color: #fff;
}

#bold {
    font-weight: bold;
}

.container {
    margin: 3.8%;                   /* Nur Gott weiß warum Margin auf einmal damit es gleich wie auf der ersten Website aussieht 3,8% sein muss statt 3%*/
    background-color: #252525;
    border-radius: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: column;
}

.header {
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

.header1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 25px;

}

.testcase {
    height: 30vw;
}

textarea {
    background-color: #2C2C2C;
    color: #fff;
    height: 80%;
    width: 90%;
    font-size: 15px;
    padding: 0%;
    resize: none;
}

#submission {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#button {
    background: #0D80D9;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    border: none;
    transition: .3s;
    font-family: 'DM Sans', sans-serif;
}

#button:hover{
    cursor: pointer;
    opacity: .7;
}